/***
    The new CSS reset - version 1.8.3 (last updated 21.1.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
pre {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}

/* Custom CSS start here */

body {
    background: #f0f2f3;
    font-family: -apple-system,BlinkMacSystemFont,Avenir Next,Avenir,Segoe UI,Lucida Grande,Helvetica Neue,Helvetica,Fira Sans,Roboto,Noto,Droid Sans,Cantarell,Oxygen,Ubuntu,Franklin Gothic Medium,Century Gothic,Liberation Sans,sans-serif;
}

.container {
    padding-inline: 15px;
    max-width: 1280px;
    margin-inline: auto;
}

.header {
    background: linear-gradient(90deg, #4a86f2 0%, #76aefd 50%);
    padding-block: 15px;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Tab Panel */
.tab {
    margin-block: 5px 12px;
}

.tabmenu {
    cursor: pointer;
    padding-block: 7px 4px;
    border-bottom: 3px solid rgba(0,0,0,0);
}

.tabmenu + .tabmenu {
    margin-left: 20px;
}

.tabmenu.active {
    pointer-events: none;
    border-color: #4581f2;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.tabpanel {
    display: none;
    animation: fadeEffect 700ms ease-in-out
}

.tabpanel.active {
    display: unset;
}

/* table */
.table-ui {
    width: 100%;
    overflow-x: auto;
    margin-block: 25px;
}

.table-ui table {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    line-height: 1.5;
    text-align: center;
}

.table-ui th {
    padding: 7px 10px;
    border-collapse: collapse;
    white-space: nowrap;
}

.table-ui th + th {
    border-left: 2px solid #eee;
}

.table-ui td {
    border-collapse: collapse;
    padding: 7px 10px;
}

.table-ui td + td {
    border-left: 2px solid #eee;
    border-top: 2px solid #eee;
}

.table-ui th,
.table-ui tr {
    background: #fff;
}

.table-ui th:nth-child(1),
.table-ui td:nth-child(1),
.table-ui th:nth-child(2),
.table-ui td:nth-child(2) {
    background: #dfe1e3;
}

.table-ui tbody tr td:nth-child(1) {
    border-top: 1px solid #fff;
}

.table-ui tbody tr :nth-child(4)::after {
    content: '%';
}

.table-ui input[type=text] {
    background: #fff;
    box-shadow: 0 0 1px 0 #606060;
}

.table-ui th button {
    position: relative;
    width: 100%;
    cursor: pointer;
  }
  
  .table-ui th button::after {
    position: absolute;
    right: 0.5rem;
  }
  
  .table-ui th button[data-dir="asc"]::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpolygon points='0, 0 8,0 4,8 8' fill='%23818688'/%3E%3C/svg%3E");
  }
  
  .table-ui th button[data-dir="desc"]::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpolygon points='4 0,8 8,0 8' fill='%23818688'/%3E%3C/svg%3E");
  }

  .is-hidden {
    display: none !important;
  }